absl-py==2.1.0
accelerate==0.33.0
addict==2.4.0
aiofiles==23.2.1
aiohappyeyeballs==2.4.3
aiohttp==3.10.10
aiohttp-retry==2.8.3
aiosignal==1.3.1
albucore==0.0.20
albumentations==1.4.21
alembic==1.13.2
altair==5.3.0
amqp==5.2.0
annotated-types==0.7.0
anyio==3.7.1
appdirs==1.4.4
argon2-cffi==23.1.0
argon2-cffi-bindings==21.2.0
arrow==1.3.0
arxiv==2.1.3
asgiref==3.8.1
asttokens==2.4.1
astunparse==1.6.3
async-lru==2.0.4
async-timeout==4.0.3
asyncer==0.0.2
attrs==23.2.0
azure-cognitiveservices-speech==1.41.1
azure-core==1.32.0
azure-identity==1.19.0
babel==2.16.0
backoff==2.2.1
backports.functools-lru-cache==2.0.0
bcrypt==4.1.3
beautifulsoup4==4.12.3
bidict==0.23.1
billiard==4.2.0
bleach==6.1.0
blinker==1.8.2
boto3==1.34.134
botocore==1.34.134
Brotli==1.1.0
bs4==0.0.2
build==1.2.1
cachetools==5.3.3
celery==5.4.0
certifi==2024.6.2
cffi==1.17.0
chainlit==1.1.402
chardet==5.2.0
charset-normalizer==3.3.2
chevron==0.14.0
chroma-hnswlib==0.7.3
chromadb==0.4.24
click==8.1.7
click-didyoumean==0.3.1
click-plugins==1.1.1
click-repl==0.3.0
cohere==5.5.8
colorama==0.4.6
coloredlogs==15.0.1
comm==0.2.2
comtypes==1.4.8
contourpy==1.2.1
crewai==0.32.2
cryptography==43.0.3
cssselect==1.2.0
cycler==0.12.1
dataclasses-json==0.5.14
debugpy==1.8.1
decorator==4.0.11
deepface==0.0.93
defusedxml==0.7.1
Deprecated==1.2.14
deprecation==2.1.0
detecto==1.2.2
dirtyjson==1.0.8
distro==1.9.0
dj-database-url==2.3.0
Django==5.0.6
django-allauth==65.1.0
django-autocomplete-light==3.11.0
django-cors-headers==4.4.0
django-environ==0.11.2
django-jazzmin==3.0.0
django-phonenumber-field==8.0.0
django-widget-tweaks==1.5.0
dnspython==2.6.1
docstring_parser==0.16
duckduckgo_search==5.3.1b1
edge-tts==6.1.18
editdistance==0.8.1
einops==0.7.0
elevenlabs==1.12.1
email_validator==2.2.0
embedchain==0.1.109
epitran==1.25.1
et-xmlfile==1.1.0
eval_type_backport==0.2.0
exceptiongroup==1.2.1
executing==2.0.1
facebook-sdk==3.1.0
faiss-cpu==1.8.0.post1
fake-useragent==1.5.1
fastapi==0.110.3
fastapi-cli==0.0.4
fastavro==1.9.4
fastjsonschema==2.20.0
fasttext-wheel==0.9.2
feedparser==6.0.11
ffmpy==0.3.2
filelock==3.15.4
filetype==1.2.0
fire==0.6.0
Flask==3.0.3
Flask-Cors==5.0.0
flatbuffers==24.3.25
fonttools==4.53.1
fqdn==1.5.1
frozenlist==1.4.1
fsspec==2024.6.0
func-timeout==4.3.5
g2pK==0.9.4
gast==0.6.0
gdown==5.2.0
genai==2.1.0
git-filter-repo==2.47.0
gitdb==4.0.11
GitPython==3.1.43
google-ai-generativelanguage==0.6.6
google-api-core==2.19.1
google-api-python-client==2.140.0
google-auth==2.30.0
google-auth-httplib2==0.2.0
google-auth-oauthlib==1.2.1
google-cloud-aiplatform==1.57.0
google-cloud-bigquery==3.25.0
google-cloud-core==2.4.1
google-cloud-resource-manager==1.12.3
google-cloud-storage==2.17.0
google-crc32c==1.5.0
google-generativeai==0.7.2
google-pasta==0.2.0
google-resumable-media==2.7.1
google-search-results==2.4.2
google-serp-api==1.0.5
googleapis-common-protos==1.63.2
gptcache==0.1.43
gradio==4.42.0
gradio_client==1.3.0
greenlet==3.0.3
griffe==0.48.0
groq==0.9.0
grpc-google-iam-v1==0.13.1
grpcio==1.66.2
grpcio-status==1.62.2
grpcio-tools==1.66.2
gTTS==2.5.4
gunicorn==23.0.0
h11==0.14.0
h2==4.1.0
h5py==3.11.0
hpack==4.0.0
httpcore==1.0.5
httplib2==0.22.0
httptools==0.6.1
httpx==0.27.0
httpx-sse==0.4.0
huggingface-hub==0.24.7
humanfriendly==10.0
hyperframe==6.0.1
idna==3.7
ImageHash==4.3.1
imageio==2.36.0
imgaug==0.4.0
importlib_metadata==7.1.0
importlib_resources==6.4.0
indic-transliteration==2.3.68
instagram-private-api==1.6.0.0
InstagramAPI==1.0.2
instagrapi==2.1.2
instructor==1.3.3
InstructorEmbedding==1.0.1
intel-openmp==2021.4.0
ipykernel==6.29.4
ipython==8.25.0
ipywidgets==8.1.3
isoduration==20.11.0
itsdangerous==2.2.0
jamo==0.4.1
janus==1.0.0
jax==0.4.35
jaxlib==0.4.35
jedi==0.19.1
Jinja2==3.1.4
jiter==0.4.2
jmespath==1.0.1
joblib==1.4.2
jpype1==1.5.1
json5==0.9.25
jsonpatch==1.33
jsonpickle==3.2.2
jsonpointer==3.0.0
jsonref==1.1.0
jsonschema==4.23.0
jsonschema-specifications==2023.12.1
jupyter==1.0.0
jupyter-console==6.6.3
jupyter-events==0.10.0
jupyter-lsp==2.2.5
jupyter_client==8.6.2
jupyter_core==5.7.2
jupyter_server==2.14.2
jupyter_server_terminals==0.5.3
jupyterlab==4.2.4
jupyterlab_pygments==0.3.0
jupyterlab_server==2.27.3
jupyterlab_widgets==3.0.11
kaggle==1.6.17
kagglehub==0.3.4
keras==3.4.1
keras-facenet==0.3.2
kiwisolver==1.4.5
kombu==5.4.0
konlpy==0.6.0
kubernetes==30.1.0
lagent==0.2.3
lancedb==0.11.0
langchain-cohere==0.1.5
langchain-community==0.2.17
langchain-core==0.2.41
langchain-experimental==0.0.63
langchain-groq==0.1.5
langchain-openai==0.1.7
langchain-text-splitters==0.2.4
langchainhub==0.1.20
langdetect==1.0.9
langgraph==0.1.14
langsmith==0.1.137
Lazify==0.4.0
lazy_loader==0.4
libclang==18.1.1
linkedin-api==2.3.0
literalai==0.0.607
llama-cloud==0.0.11
llama-index==0.10.59
llama-index-agent-openai==0.2.9
llama-index-cli==0.1.13
llama-index-core==0.10.59
llama-index-embeddings-openai==0.1.11
llama-index-indices-managed-llama-cloud==0.2.7
llama-index-legacy==0.9.48
llama-index-llms-langchain==0.3.0
llama-index-llms-openai==0.1.27
llama-index-multi-modal-llms-openai==0.1.8
llama-index-program-openai==0.1.7
llama-index-question-gen-openai==0.1.3
llama-index-readers-file==0.1.32
llama-index-readers-llama-parse==0.1.6
llama-index-vector-stores-chroma==0.1.10
llama-index-vector-stores-lancedb==0.1.7
llama-index-vector-stores-qdrant==0.2.17
llama-parse==0.4.9
lmdeploy==0.5.3
load-dotenv==0.1.0
lxml==5.3.0
lz4==4.3.3
Mako==1.3.5
marisa-trie==1.2.1
Markdown==3.6
markdown-it-py==3.0.0
MarkupSafe==2.1.5
marshmallow==3.21.3
matplotlib==3.9.1
matplotlib-inline==0.1.7
mdurl==0.1.2
mediapipe==0.10.18
microsoft==0.1.2
microsoft-kiota-abstractions==1.6.6
microsoft-kiota-authentication-azure==1.6.6
microsoft-kiota-http==1.6.3
microsoft-kiota-serialization-form==1.6.6
microsoft-kiota-serialization-json==1.6.6
microsoft-kiota-serialization-multipart==1.6.6
microsoft-kiota-serialization-text==1.6.6
mistune==3.0.2
mkl==2021.4.0
ml-dtypes==0.4.0
mmengine-lite==0.10.4
mmh3==4.1.0
monotonic==1.6
more-itertools==10.4.0
moshi==0.1.0
moviepy==0.2.3.2
mpmath==1.3.0
msal==1.31.1
msal-extensions==1.2.0
msgraph-core==1.1.7
mtcnn==1.0.0
multidict==6.0.5
munkres==1.1.4
mypy-extensions==1.0.0
namex==0.0.8
nbclient==0.10.0
nbconvert==7.16.4
nbformat==5.10.4
nest-asyncio==1.6.0
networkx==3.3
nltk==3.8.1
notebook==7.2.1
notebook_shim==0.2.4
numexpr==2.10.1
numpy==1.26.4
oauthlib==3.2.2
ollama==0.3.3
onnxruntime==1.18.0
openai==1.35.5
opencv-contrib-python==4.10.0.84
opencv-python==4.10.0.84
opencv-python-headless==4.10.0.84
openpyxl==3.1.5
opentelemetry-api==1.27.0
opentelemetry-exporter-otlp==1.27.0
opentelemetry-exporter-otlp-proto-common==1.27.0
opentelemetry-exporter-otlp-proto-grpc==1.27.0
opentelemetry-exporter-otlp-proto-http==1.27.0
opentelemetry-instrumentation==0.48b0
opentelemetry-instrumentation-asgi==0.46b0
opentelemetry-instrumentation-fastapi==0.46b0
opentelemetry-proto==1.27.0
opentelemetry-sdk==1.27.0
opentelemetry-semantic-conventions==0.48b0
opentelemetry-util-http==0.46b0
opt-einsum==3.3.0
optree==0.12.1
orjson==3.10.5
overrides==7.7.0
packaging==23.2
pandas==2.2.2
pandocfilters==1.5.1
panphon==0.21.2
parameterized==0.9.0
parse==1.20.2
parso==0.8.4
peft==0.11.1
pendulum==3.0.0
phonenumbers==8.13.40
phx-class-registry==4.1.0
pillow==10.3.0
platformdirs==4.2.2
portalocker==2.10.1
posthog==3.5.0
prometheus_client==0.20.0
prompt_toolkit==3.0.47
propcache==0.2.0
proto-plus==1.24.0
protobuf==4.25.5
psutil==6.0.0
psycopg2-binary==2.9.10
pulsar-client==3.5.0
pure-eval==0.2.2
py==1.11.0
py-cpuinfo==9.0.0
pyarrow==17.0.0
pyasn1==0.6.0
pyasn1_modules==0.4.0
PyAudio==0.2.14
pybind11==2.13.6
pycparser==2.22
pycryptodomex==3.20.0
pydal==20240713.1
pydantic==2.7.1
pydantic_core==2.18.2
pydeck==0.9.1
pydub==0.25.1
pyee==11.1.0
pygame==2.6.0
Pygments==2.18.0
PyJWT==2.9.0
pylance==0.15.0
PyMuPDF==1.24.11
pymupdf4llm==0.0.17
PyMySQL==1.1.1
pynvml==11.5.3
pyparsing==3.1.2
pypdf==4.2.0
PyPDF2==3.0.1
PyPika==0.48.9
pypiwin32==223
pypng==0.20220715.0
pyppeteer==2.0.0
pyproject_hooks==1.1.0
pyquery==2.0.0
pyreadline3==3.4.1
pysbd==0.3.4
PySocks==1.7.1
pytesseract==0.3.13
python-dateutil==2.9.0.post0
python-decouple==3.8
python-dotenv==1.0.1
python-engineio==4.9.1
python-json-logger==2.0.7
python-linkedin==4.1
python-linkedin-v2==0.9.4
python-mecab-ko==1.3.7
python-mecab-ko-dic==2.1.1.post2
python-multipart==0.0.9
python-slugify==8.0.4
python-socketio==5.11.3
pyttsx3==2.98
pytz==2024.1
pyvis==0.3.2
PyWavelets==1.6.0

PyYAML==6.0.1
pyzbar==0.1.9
pyzmq==26.0.3
qdrant-client==1.12.0
qrcode==7.4.2
qtconsole==5.5.2
QtPy==2.4.1
ratelimiter==1.2.0.post0
referencing==0.35.1
regex==2023.12.25
reportlab==4.2.2
requests==2.32.3
requests-html==0.10.0
requests-oauthlib==2.0.0
requests-toolbelt==1.0.0
retina-face==0.0.17
retry==0.9.2
rfc3339-validator==0.1.4
rfc3986-validator==0.1.1
rich==13.7.1
roman==4.2
rpds-py==0.19.0
rsa==4.9
ruff==0.5.4
s3transfer==0.10.2
safetensors==0.4.3
schema==0.7.7
scikit-image==0.24.0
scikit-learn==1.5.0
scipy==1.14.0
seaborn==0.13.2
semantic-version==2.10.0
Send2Trash==1.8.3
sentence-transformers==2.2.2
sentencepiece==0.2.0
serpapi==0.1.5
sgmllib3k==1.0.0
shapely==2.0.4
shellingham==1.5.4
shortuuid==1.0.13
simple-websocket==1.0.0
simsimd==6.2.0
six==1.16.0
smmap==5.0.1
sniffio==1.3.1
socksio==1.0.0
sounddevice==0.5.0
soundfile==0.12.1
soupsieve==2.5
SpeechRecognition==3.11.0
sphn==0.1.4
SQLAlchemy==2.0.31
sqlparse==0.5.0
srt==3.5.3
sse-starlette==2.1.3
stack-data==0.6.3
starlette==0.37.2
std-uritemplate==2.0.1
streamlit==1.38.0
streamlit-persistence==0.0.3
stringzilla==3.10.10
striprtf==0.0.26
supervision==0.25.0
sympy==1.12.1
syncer==2.0.3
tabulate==0.9.0
tantivy==0.22.0
tbb==2021.13.0
tenacity==8.4.2
tensorboard==2.17.0
tensorboard-data-server==0.7.2
tensorflow==2.17.0
tensorflow-io-gcs-filesystem==0.31.0
termcolor==2.4.0
terminado==0.18.1
text-unidecode==1.3
tf_keras==2.17.0
threadpoolctl==3.5.0
ThreadPoolExecutorPlus==0.2.2
tifffile==2024.9.20
tiktoken==0.7.0
time-machine==2.16.0
timeout-decorator==0.5.0
timm==1.0.11
tinycss2==1.3.0
tokenizers==0.19.1
toml==0.10.2
tomli==2.0.1
tomlkit==0.12.0
toolz==0.12.1
torch==2.3.1
torchvision==0.18.1
tornado==6.4.1
tqdm==4.65.0
traitlets==5.14.3
transformers==4.41.2
twilio==9.3.0
typer==0.12.3
types-python-dateutil==2.9.0.20240316
types-requests==2.32.0.20240622
typing-inspect==0.9.0
typing_extensions==4.12.2
tzdata==2024.1
ujson==5.10.0
ultralytics==8.3.36
ultralytics-thop==2.0.12
unicodecsv==0.14.1
uptrace==1.26.0
uri-template==1.3.0
uritemplate==4.1.1
urllib3==2.2.2
uvicorn==0.25.0
vine==5.1.0
vosk==0.3.45
w3lib==2.2.1
watchdog==4.0.1
watchfiles==0.20.0
Wave==0.0.2
wcwidth==0.2.13
webcolors==24.8.0
webencodings==0.5.1
webrtcvad==2.0.10
websocket-client==1.8.0
websockets==14.0
Werkzeug==3.0.3
whisper_normalizer==0.0.10
whitenoise==6.8.2
widgetsnbextension==4.0.11
wikipedia==1.4.0
wordcloud==1.9.3
wrapt==1.16.0
wsproto==1.2.0
yapf==0.40.2
yarl==1.17.1
zipp==3.19.2
